body{
    margin: 0;
    background: #E9E6DF;
    font-family: akkurat std;
}

#page{
    flex-wrap: wrap;
    
    .navigation {
        height: 210px;
        width: 400px;
        background: rgba(0,0,0,0.2);
        position: fixed;
        float: left;
        z-index: 100;
        
    }
    .bottom{
        bottom: 0;
        position: absolute;
        margin: 0;
        z-index: 100;
        
    }
    
}

.span60{
    font-size:60px;
    line-height: 60px;
}

.main_h1{
    
    font-size:43px;
    line-height: 44px;
    font-weight: bold;
    letter-spacing: 1.5;
}
.title_h1{
    font-size:45px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: 1.4;
}
.title_h2{
    font-size:34px;
    line-height: 39px;
    font-weight: bold;
}
.date{
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 2;
}
.body_text{
    font-size: 15px;
    letter-spacing: 0.4;
    line-height: 24px;
}
.description{
    font-size: 11px;
    letter-spacing: 1;
}

.bold{
    font-weight: bold;
}
.unbold{
    font-weight: 400;
}

.spacing{
    letter-spacing: 2;
}
.uppercase{
    text-transform: uppercase;
}

p{margin: 0;
}

.blue{color:#6490E8;}
.beige{color:#C2907F;}

.program_navi{
    margin-top: 210px;
}

#sidebar{
    width:220px;
    height: auto;
    position: fixed;
    background-color: #E9E6DF;
    overflow-y:auto;
    float: left;
    
    
    a:link{
        text-decoration: none;
        color: rgba(0,0,0,0.5);
        cursor: pointer;
    }
    a:visited{
        text-decoration: none;
        color: rgba(0,0,0,0.5);
    }
    a:hover{
        text-decoration: none;
        color: rgba(0,0,0,1);
        transition: 1s;
        cursor: pointer;
    }
    
    #menu{
        padding-left: 55px;
        margin-top: -10px;
        font-family: akkurat std;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.5;
        line-height: 20px;
        color: rgba(0,0,0,0.5);
    }
}

#main_container{
    width: calc(100% - 220px);
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    padding-left: 220px;
    background-color: #E9E6DF;
    font-family: akkurat std;
    
    .main01{
        width:  100%;
        float: left;
        height: auto;
        margin: 0;
        margin-bottom: 5%;
        flex-wrap: wrap;
        display: flex;
    }
    
    
    
    img{
        width:100%;
    }
    
    a:link{
        text-decoration: none;
        cursor: pointer;
    }
    a:visited{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
        transition: 1s;
        cursor: pointer;
    }
    
    .grayhover :hover img{
        opacity: 0.7;
        transition: 0.2s;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); 
    } 
    
    
    /* ————————Programs———————— */
    .program{
        font-family: akkurat std;
        width: 100%;
        height: 28%;
        position: relative;
        float: left;
        overflow-y: hidden;
        background-repeat: no-repeat;
        background-position:center;
        background-size: 100%;
        
        
        .program_title{
            
            color: white;
            z-index: 10;
            height: 300px;
            background: rgba(0,0,0,0.5);
            display: flex;
              flex-direction: column;
              justify-content: center;
              resize: vertical;
              overflow: auto;
            font-size:25px;
            line-height: 29px;
            letter-spacing: 0.78;
            padding-left: 5%;
            
           
        }
        .program_title div:hover{
            background: rgba(0,0,0,0);
            transition: 1s;
        }
        
      
    }
    
    
    
    
    
    
    /* ————————Programs grid———————— */
    
    .grid{
        font-family: akkurat std;
        font-size: 15px;
        line-height: 24px;
    }
    .grid img{
            width: 100%;
    }
    .grid_horizontal{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        float:left;
        margin-bottom: 3%;
        
    }
    
    .grid_full{
        width: 100%;
        
        height:auto;
        float:left;
        margin-bottom: 5%;
        
    }
        
    .grid1{
        width :11%;
        height:auto;
        margin-right:1%;
        /*background: rgba(0,0,0,0.1);*/
        font-size: 14px;
        line-height: 16px;
        padding: 0;
        
    }
    .grid2{
        width :23%;
        height:auto;
        margin-right:1%;
        /*background: rgba(0,0,0,0.1);*/
        vertical-align: bottom;
    }
    
        
    .grid3{
        width :35%;
        height:auto;
        margin-right:1%;
        /*background: rgba(0,0,0,0.1);*/
        vertical-align: bottom;
    }
    .grid4{
        width :47%;
        height:auto;
        margin-right:1%;
        /*background: rgba(0,0,0,0.1);*/
        vertical-align: bottom;
    }
    .grid5{
        width:59%;
        height:auto;
        margin-right:1%;
        /*background: rgba(0,0,0,0.1);*/
    }
    .grid5_1{
        width:60%;
        height:auto;
        margin-right:1%;
        float: left;
    }
    .grid5_2{
        width:38%;
        height:auto;
        margin-right:1%;
        float: left;
    }
    
    
    .grid6{
        width:71%;
        height:auto;
        margin-right:1%;
        flex-wrap: wrap;
        display: flex;
    }
    
    .grid7{
        width:83%;
        height:auto;
        margin-right:1%;
        /*background: rgba(0,0,0,0.1);*/
        flex-wrap: wrap;
        display: flex;
    }
    .imgbox {
        width: 100%;
        overflow: hidden;
        max-width: 1200px;    
        min-width: 800px;
        max-height: 720px;
        text-align: center;
    }
    .imgbox img{
        position: relative;
        height: 900px;
    }
    .overlaylogo{
        width: 150%;
        position: absolute;
        z-index: 10;
    }
    
    .overlaylogo img{
        width: 100%;
    }
 
    .imgbox_small{
        margin-top: 0.5%;
        width: 100%;
        height: 160px;
        background: black;
        overflow: hidden;
        max-width: 1200px;    
        min-width: 800px;
        max-height: 165px;
        text-align: center;
        float: left;
    }
    
    /* ————————Exhibitions———————— */
    
    .category{
    position: fixed;
    float: left;
    }

    
    
    /* ————————Events———————— */
    .grid_event1{
        width:16%;
        height:auto;
        margin-right:0;
        /*background: rgba(0,0,0,0.1);*/
        overflow: hidden;
    }
    .grid_event5{
        width:82.5%;
        height:auto;
        margin-right:1.5%;
        /*background: rgba(0,0,0,0.1);*/
        overflow: hidden;
    }
    .grid_box{
        width:82.5%;
        height:20%;
        border: 1px solid rgba(0,0,0,0.3);
        margin-right:1.5%;
        margin-bottom: 1%;
        overflow: hidden;
    }
    
    /* ————————Vists———————— */
    .grid_visit1{
        width:23.5%;
        height:auto;
        /*background: rgba(0,0,0,0.1);*/
        margin-right:2%;
        margin-bottom: 1%;
        float:left;
    }
    .grid_visit3{
        width:72%;
        height:auto;
        /*background: rgba(0,0,0,0.1);*/
        margin-right:2%;
        margin-bottom: 1%;
        position: relative;
        float:left;
    }
    
    
}

#do :hover{
    background: white;
}

#main_container img{
    width: 100%;
}
    



@media only screen and (max-width: 1800px) {

    .span60{
    font-size:60px;
    line-height: 60px;
    }
    .main_h1{
    
    font-size:35px;
    line-height: 36px;
    font-weight: bold;
    letter-spacing: 1.5;
}
    .title_h1{
        font-size:45px;
        line-height: 48px;
        font-weight: bold;
        letter-spacing: 1.4;
    }
    .title_h2{
        font-size:34px;
        line-height: 39px;
        font-weight: bold;
    }
    .date{
        font-size: 19px;
        line-height: 24px;
        letter-spacing: 2;
    }
    .body_text{
        font-size: 15px;
        letter-spacing: 0.4;
        line-height: 24px;
    }
    .description{
        font-size: 11px;
        letter-spacing: 1;
    }

    .bold{
        font-weight: bold;
    }
    .unbold{
        font-weight: 400;
    }

    .spacing{
        letter-spacing: 2;
    }
    .uppercase{
        text-transform: uppercase;
    }
}






@media only screen and (max-width: 1550px) {

    .span60{
    font-size:60px;
    line-height: 60px;
    }
    .main_h1{
    
    font-size:30px;
    line-height: 31px;
    font-weight: bold;
    letter-spacing: 1.5;
}
    .title_h1{
        font-size:45px;
        line-height: 48px;
        font-weight: bold;
        letter-spacing: 1.4;
    }
    .title_h2{
        font-size:24px;
        line-height: 25px;
        font-weight: bold;
    }
    .date{
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 2;
    }
    .body_text{
        font-size: 15px;
        letter-spacing: 0.4;
        line-height: 24px;
    }
    .description{
        font-size: 11px;
        letter-spacing: 1;
    }

    .bold{
        font-weight: bold;
    }
    .unbold{
        font-weight: 400;
    }

    .spacing{
        letter-spacing: 2;
    }
    .uppercase{
        text-transform: uppercase;
    }
}

















