@charset "UTF-8";
body {
  margin: 0;
  background: #E9E6DF;
  font-family: akkurat std; }

#page {
  flex-wrap: wrap; }
  #page .navigation {
    height: 210px;
    width: 400px;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    float: left;
    z-index: 100; }
  #page .bottom {
    bottom: 0;
    position: absolute;
    margin: 0;
    z-index: 100; }

.span60 {
  font-size: 60px;
  line-height: 60px; }

.main_h1 {
  font-size: 43px;
  line-height: 44px;
  font-weight: bold;
  letter-spacing: 1.5; }

.title_h1 {
  font-size: 45px;
  line-height: 48px;
  font-weight: bold;
  letter-spacing: 1.4; }

.title_h2 {
  font-size: 34px;
  line-height: 39px;
  font-weight: bold; }

.date {
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 2; }

.body_text {
  font-size: 15px;
  letter-spacing: 0.4;
  line-height: 24px; }

.description {
  font-size: 11px;
  letter-spacing: 1; }

.bold {
  font-weight: bold; }

.unbold {
  font-weight: 400; }

.spacing {
  letter-spacing: 2; }

.uppercase {
  text-transform: uppercase; }

p {
  margin: 0; }

.blue {
  color: #6490E8; }

.beige {
  color: #C2907F; }

.program_navi {
  margin-top: 210px; }

#sidebar {
  width: 220px;
  height: auto;
  position: fixed;
  background-color: #E9E6DF;
  overflow-y: auto;
  float: left; }
  #sidebar a:link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  #sidebar a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5); }
  #sidebar a:hover {
    text-decoration: none;
    color: black;
    transition: 1s;
    cursor: pointer; }
  #sidebar #menu {
    padding-left: 55px;
    margin-top: -10px;
    font-family: akkurat std;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5); }

#main_container {
  width: calc(100% - 220px);
  flex-wrap: wrap;
  display: flex;
  margin: 0;
  padding-left: 220px;
  background-color: #E9E6DF;
  font-family: akkurat std;
  /* ————————Programs———————— */
  /* ————————Programs grid———————— */
  /* ————————Exhibitions———————— */
  /* ————————Events———————— */
  /* ————————Vists———————— */ }
  #main_container .main01 {
    width: 100%;
    float: left;
    height: auto;
    margin: 0;
    margin-bottom: 5%;
    flex-wrap: wrap;
    display: flex; }
  #main_container img {
    width: 100%; }
  #main_container a:link {
    text-decoration: none;
    cursor: pointer; }
  #main_container a:visited {
    text-decoration: none; }
  #main_container a:hover {
    text-decoration: none;
    transition: 1s;
    cursor: pointer; }
  #main_container .grayhover :hover img {
    opacity: 0.7;
    transition: 0.2s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  #main_container .program {
    font-family: akkurat std;
    width: 100%;
    height: 28%;
    position: relative;
    float: left;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
    #main_container .program .program_title {
      color: white;
      z-index: 10;
      height: 300px;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      resize: vertical;
      overflow: auto;
      font-size: 25px;
      line-height: 29px;
      letter-spacing: 0.78;
      padding-left: 5%; }
    #main_container .program .program_title div:hover {
      background: transparent;
      transition: 1s; }
  #main_container .grid {
    font-family: akkurat std;
    font-size: 15px;
    line-height: 24px; }
  #main_container .grid img {
    width: 100%; }
  #main_container .grid_horizontal {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    float: left;
    margin-bottom: 3%; }
  #main_container .grid_full {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 5%; }
  #main_container .grid1 {
    width: 11%;
    height: auto;
    margin-right: 1%;
    /*background: rgba(0,0,0,0.1);*/
    font-size: 14px;
    line-height: 16px;
    padding: 0; }
  #main_container .grid2 {
    width: 23%;
    height: auto;
    margin-right: 1%;
    /*background: rgba(0,0,0,0.1);*/
    vertical-align: bottom; }
  #main_container .grid3 {
    width: 35%;
    height: auto;
    margin-right: 1%;
    /*background: rgba(0,0,0,0.1);*/
    vertical-align: bottom; }
  #main_container .grid4 {
    width: 47%;
    height: auto;
    margin-right: 1%;
    /*background: rgba(0,0,0,0.1);*/
    vertical-align: bottom; }
  #main_container .grid5 {
    width: 59%;
    height: auto;
    margin-right: 1%;
    /*background: rgba(0,0,0,0.1);*/ }
  #main_container .grid5_1 {
    width: 60%;
    height: auto;
    margin-right: 1%;
    float: left; }
  #main_container .grid5_2 {
    width: 38%;
    height: auto;
    margin-right: 1%;
    float: left; }
  #main_container .grid6 {
    width: 71%;
    height: auto;
    margin-right: 1%;
    flex-wrap: wrap;
    display: flex; }
  #main_container .grid7 {
    width: 83%;
    height: auto;
    margin-right: 1%;
    /*background: rgba(0,0,0,0.1);*/
    flex-wrap: wrap;
    display: flex; }
  #main_container .imgbox {
    width: 100%;
    overflow: hidden;
    max-width: 1200px;
    min-width: 800px;
    max-height: 720px;
    text-align: center; }
  #main_container .imgbox img {
    position: relative;
    height: 900px; }
  #main_container .overlaylogo {
    width: 150%;
    position: absolute;
    z-index: 10; }
  #main_container .overlaylogo img {
    width: 100%; }
  #main_container .imgbox_small {
    margin-top: 0.5%;
    width: 100%;
    height: 160px;
    background: black;
    overflow: hidden;
    max-width: 1200px;
    min-width: 800px;
    max-height: 165px;
    text-align: center;
    float: left; }
  #main_container .category {
    position: fixed;
    float: left; }
  #main_container .grid_event1 {
    width: 16%;
    height: auto;
    margin-right: 0;
    /*background: rgba(0,0,0,0.1);*/
    overflow: hidden; }
  #main_container .grid_event5 {
    width: 82.5%;
    height: auto;
    margin-right: 1.5%;
    /*background: rgba(0,0,0,0.1);*/
    overflow: hidden; }
  #main_container .grid_box {
    width: 82.5%;
    height: 20%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 1.5%;
    margin-bottom: 1%;
    overflow: hidden; }
  #main_container .grid_visit1 {
    width: 23.5%;
    height: auto;
    /*background: rgba(0,0,0,0.1);*/
    margin-right: 2%;
    margin-bottom: 1%;
    float: left; }
  #main_container .grid_visit3 {
    width: 72%;
    height: auto;
    /*background: rgba(0,0,0,0.1);*/
    margin-right: 2%;
    margin-bottom: 1%;
    position: relative;
    float: left; }

#do :hover {
  background: white; }

#main_container img {
  width: 100%; }

@media only screen and (max-width: 1800px) {
  .span60 {
    font-size: 60px;
    line-height: 60px; }

  .main_h1 {
    font-size: 35px;
    line-height: 36px;
    font-weight: bold;
    letter-spacing: 1.5; }

  .title_h1 {
    font-size: 45px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: 1.4; }

  .title_h2 {
    font-size: 34px;
    line-height: 39px;
    font-weight: bold; }

  .date {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 2; }

  .body_text {
    font-size: 15px;
    letter-spacing: 0.4;
    line-height: 24px; }

  .description {
    font-size: 11px;
    letter-spacing: 1; }

  .bold {
    font-weight: bold; }

  .unbold {
    font-weight: 400; }

  .spacing {
    letter-spacing: 2; }

  .uppercase {
    text-transform: uppercase; } }
@media only screen and (max-width: 1550px) {
  .span60 {
    font-size: 60px;
    line-height: 60px; }

  .main_h1 {
    font-size: 30px;
    line-height: 31px;
    font-weight: bold;
    letter-spacing: 1.5; }

  .title_h1 {
    font-size: 45px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: 1.4; }

  .title_h2 {
    font-size: 24px;
    line-height: 25px;
    font-weight: bold; }

  .date {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2; }

  .body_text {
    font-size: 15px;
    letter-spacing: 0.4;
    line-height: 24px; }

  .description {
    font-size: 11px;
    letter-spacing: 1; }

  .bold {
    font-weight: bold; }

  .unbold {
    font-weight: 400; }

  .spacing {
    letter-spacing: 2; }

  .uppercase {
    text-transform: uppercase; } }

/*# sourceMappingURL=style.css.map */
